@import "{{ site.theme }}";

body {
    margin: 0;
    padding: 0;
    background-color: #e6f5fd;
}

hr {
    border: 0;
    height: 0.125rem; /* Thickness of the line */
    background-color: #e3edfa; /* Color of the line */
    margin: 0; /* Vertical spacing around the line */
}

nav {
    margin-top: 0rem;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content:left;
}

nav ul li {
    margin: 0rem;
}

nav ul li a {
    color: #ffffff;
    font-size: clamp(1rem, 1.75vw, 1.75rem); /* Responsive font size with clamp */
    text-decoration: none;
    padding: 0.2rem 1rem;
    display: flex;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #2c3e50; /* Darker shade for hover effect */
}

nav ul li a.active {
    border-bottom: 2.5px solid #ffcc002a; /* Bottom border for active link */
}

.nav-line {
    border: 0rem;
    height: 0.04rem; /* Thickness of the line */
    background-color: #011b30f6; /* Color of the line */
    margin: 0; /* Vertical spacing around the line */
}

header {
    background-color: #4c6374;
    color: #ffffff;
    
}

h1 {
    margin-bottom: .8rem;
    margin-top: 0.4rem;
    font-size: clamp(2rem, 3vw, 3rem); /* Adjusted values to make it larger */
    text-align: center;
}


h2 {
    margin-bottom: 1.875rem;
    font-size: clamp(1.2rem, 2vw, 2rem); /* Responsive font size with clamp */
}

.nameInTitle {
    margin-bottom: 0.8rem;
    margin-top: 0;
}

.project {
    background-color: #f7f7f7; 
    border: 0.125rem solid #91b0ca; 
    margin: .5rem 15%; 
    border-radius: 0.5rem; 
    padding: 1.25rem; 
    color: #141414;
    display: inline-block;
    width: calc(100% - 30%); /* Ensure the project takes up 100% width minus margins */
}

.content-container {
    width: 100%;
    max-width: 900px; /* Limit the maximum width */
    margin: 0 auto; /* Center the container horizontally */
    padding: 1rem; /* Add some padding for spacing */
    box-sizing: border-box; /* Include padding in the element's total width and height */
}

.video-container {
    position: relative;
    width: 95%;
    margin-bottom: .5rem; /* Add some space between video and text */
    box-sizing: border-box; /* Include padding in the element's total width and height */
}

.video-container video {
    width: 100%;
    display: block;
}

.text-container {
    width: 100%; 
    max-width: 1100px; /* Make text container slightly wider */
    line-height: 1.6;
    margin: 0 auto;
    margin-top: 0%; 
    text-align: justify; 
    font-size: clamp(1rem, 1.5vw, 1.4rem); /* Responsive font size with clamp */
    padding: .2rem; /* Add padding for better spacing */
    box-sizing: border-box; /* Include padding in the element's total width and height */
}

.toggle-sound {
    position: absolute;
    font-size: 2rem;
    top: 0.625rem;
    right: 0.625rem;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 0.3125rem;
    cursor: pointer;
}

.video-title {
    font-size: clamp(1.5rem, 2.5vw, 2.5rem); /* Responsive font size with clamp */
    color: #21415a;
    text-align: center;
    text-decoration-line: underline;
    text-decoration-color: #91b0ca4f; /* You can specify the color */
}

.centered {
    text-align: center;
}



main {
    padding: 1.25rem;
}

iframe {
    margin-top: 3rem;
    width: 70%;
    height: 100vh;
    border: none;
}

/* Media Queries for Fine-Tuning */
@media (max-width: 600px) {
    h1 {
        font-size: clamp(1rem, 5vw, 2.5rem); /* Responsive font size with clamp */
    }
    h2 {
        font-size: clamp(1rem, 4vw, 2rem); /* Responsive font size with clamp */
    }
    .text-container {
        font-size: clamp(0.8rem, 3.5vw, 1.4rem); /* Responsive font size with clamp */
    }
    nav ul li a {
        font-size: clamp(0.8rem, 4vw, 1.5rem); /* Responsive font size with clamp */
    }
}
